<div class="row" style="text-align: center;">
  <h3>Turn your sentence into gifs</h3>
  <div class="col-lg-6 text-center">
    <div class="form-group text-center">
      <input id="sentence-field" type="text" style="width:50%" value="<%= params[:search].html_safe %>" placeholder="Type your sentence" class="form-control">
    </div>
  </div>
  <div class="col-lg-6">
    <a href="#" id="trigger-button" class="btn btn-block btn-lg btn-inverse">Giphify</a>
    <a href="#" id="save-button" style="display:none;" class="btn btn-block btn-lg btn-info">Save</a>
  </div>
  <br>
  <hr>
  <h4 id="loaded-sentence"></h4>
</div>
<div class="row">
  <ul id="sentence" class="list-inline"></ul>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var hash = decodeURI(location.hash);
    var sentence = $('#sentence-field').val();
    if(sentence != ''){
      start_search();
    }
  });

  $("#sentence-field").keyup(function(event){
      if(event.keyCode == 13){
        start_search();
      }
  });

  $('#trigger-button').on('click', function(e){
    e.preventDefault();
    start_search();
  });

 $('#save-button').on('click', function(e){
    e.preventDefault();
    mixpanel.track("Tried to save");
    alert('Copy and paste the URL to share. Save isnt up yet.');
  });

  function start_search(){
    mixpanel.track("Start search");
    $('#sentence').html('');
    $('#trigger-button').html('Loading...');
    var sentence = $('#sentence-field').val();
    $('#loaded-sentence').html(sentence);
    var words = sentence.split(' ');

    window.history.pushState('gifentence', 'Gifentence: ' + sentence, '/?search=' + encodeURI(sentence));

    console.log(words);
    for(i = 0; i < words.length; i++){
      $('#sentence').append('<li class="slot loading">');
      search_words(words[i], i);
    }
    mixpanel.track("Searched " + words.length + " words.");
    $('#save-button').show();
  }

  function search_words(word, i){
    $.ajax({
      url: "/giphy/" + word
    }).done(function(data) {
      var gif = data.hash.image_original_url;
      $($('.slot')[i]).html('<img src="' + gif + '">');
      $( ".loading img" ).load(function() {
        $( this ).parent().removeClass( "loading" );
      });
      $('#trigger-button').html('Giphify');
    });
  }
</script>